{:paths ["src" "resources"]
 :deps {org.clojure/clojure {:mvn/version "1.10.0"}
        stasis/stasis {:mvn/version "2.5.1"}
        optimus/optimus {:mvn/version "2022-02-13"}
        markdown-clj/markdown-clj {:mvn/version "1.11.1"}
        juxt/dirwatch {:mvn/version "0.2.5"}}}
